.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #927e7e; 
}

.navbar-container img {
    max-width: 250px;
    height: auto;
}

.navlinks ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navlinks ul li {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.navlinks ul li:hover {
    color: #9ea5a9; 
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .navlinks ul {
        justify-content: center;
        margin-top: 10px;
    }
}
